backports-abc==0.5
certifi==2017.1.23
cffi==1.8.3
cryptography==1.5.2
DBUtils==1.2
enum34==1.1.6
futures==3.0.5
gevent==1.1.2
greenlet==0.4.10
idna==2.1
ipaddress==1.0.17
Jinja2==2.9.6
jsonlib==1.6.1
lxml==4.6.5
MarkupSafe==1.0
mechanize==0.2.5
MySQL-python==1.2.5
ndg-httpsclient==0.4.2
pika==0.10.0
pyasn1==0.1.9
pycparser==2.16
PyExecJS==1.4.0
pymongo==3.4.0
PyMySQL==0.7.11
pyOpenSSL==16.2.0
PySocks==1.5.7
python-dateutil==2.6.1
redis==2.10.5
requests==2.10.0
singledispatch==3.4.0.3
six==1.10.0
suds==0.4
tornado==4.4.3
ucloud==2.0.1
urllib3==1.19.1
user-agent==0.1.5
virtualenv==15.0.3
xmltodict==0.11.0
protobuf==3.3.0